
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sankat Mochan Foundation</title>
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        <p>Sankat Mochan Foundation</p>
      </div>
      <nav class="main-menu">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">ABOUT</a>
            <ul class="sub-menu">
              <li><a href="#">History</a></li>
              <li><a href="#">Committee of Management</a></li>
              <li><a href="#">Milestone</a></li><br>
              <li><a href="#">Vision</a></li>
            </ul>
          </li>
          <li><a href="#">SAVE GANGA</a>
            <ul class="sub-menu">
              <li><a href="#">Pollution of Ganga</a></li>
              <li><a href="#">Struggle to Save Ganga</a></li>
              <li><a href="#">Associated Organization</a></li>
              <li><a href="#">Water Quality Data</a></li>
            </ul>
          </li>
          <li><a href="#">GALLERY</a>
            <ul class="sub-menu">
              <li><a href="#">Photo Gallery</a></li>
              <li><a href="#">Video Gallery</a></li>
            </ul>
          </li>
          <li><a href="#">NEWS & EVENTS</a></li>
          <li><a href="#">SUPPORT US</a>
            <ul class="sub-menu">
              <li><a href="#">Volunteer</a></li><br>
              <li><a href="#">Donate</a></li>
            </ul>
          </li>
          <li><a href="#">CONTACT US</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>
