<div class="header">
    <h1>Latest News & Events on Sankat Mochan </h1>
</div>
<div class="news">
    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100" style="width: 22rem;">
                    <img src="../../assets/img/third.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Bhartiya Bhasa Utsav Assi Ghat,Varanasi Date 20 Nov 23</p>
                    </div>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="width: 22rem;">
                    <img src="../../assets/img/third.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">संकट मोचन मंदिर के महंत विश्वंभर जी आज अमर उजाला के मेहमान थे
                        </p>
                    </div>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="width: 22rem;">
                    <img src="../../assets/img/third.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">पंडित कुमार गंधर्व शताब्दी समारोह</p>
                    </div>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>