<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="100">
      <img src="../../assets/img/third.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img src="../../assets/img/second.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/third.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-news-event></app-news-event>
<div class="card-group">
  <div class="card">
    <img src="../../assets/img/ganga.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pollution of Ganga</h5>
      <p class="card-text">Ganga which is the life line of millions of people and of great religious significance is
        being polluted by both domestic sewage and industrial pollutants that are being dumped in to the river
        untreated. This causes health hazard for over 400 million people who directly and indirectly use …</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/img/about.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">About us</h5>
      <p class="card-text">The comprehensive plan was made at the request of Varanasi Nagar Nigam (VNN) as an
        alternative to the Govt’s Ganga Action Plan (run between 1986-1994) and to satisfy the objectives of Ganga
        Action Plan (GAP) launched in Varanasi in 1986 by Hon’ble Prime Minister Rajiv Gandhi Ji.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/img/mission.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Our Vision & Mission</h5>
      <p class="card-text">Society committed to clean Ganga ji. Comprising of active and committed members of the
        society, university professors, practicing religious people, poets, student representatives and friends of Ganga
        ji all over the world SMF is well respected for its work to clean Ganga ji at Varanasi.</p>
    </div>
  </div>
</div>

<div class="card text-bg-dark">
  <img src="../../assets/img/footimg.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h3 class="card-title">This Week Water Quality</h3>
    <p class="card-text">Ganga water Quality along the religious bathing area of Ganga in Varanasi.</p>
    <button>Click Here</button>
  </div>
</div>